{% extends 'base.html' %}
{% block title %} ¡Crea tu categoria! {% endblock %}
{% block content %}


{% if user.is_authenticated %}

    <h1> Crea tu categoria </h1>

    <br/><br/>
    <div class="form-group"></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        </br>
            <button class="btn btn-dark"> Crear </button>
    </form>
    </div>

{% else %}

<h3>No tienes los permisos necesarios para estar aqui.</h3>

{% endif %}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary"
> Atras </a>

{% endblock %}