{% extends 'base.html' %}
{% block title %} ¡Create a new blog post! {% endblock %}
{% block content %}


{% if user.is_authenticated %}

    <h1> Crea tu post </h1>

    <br/><br/>
    <div class="form-group"></div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark"> Postear </button>
    </form>
    </div>

{% else %}

No tienes los permisos suficientes para estar aqui.

{% endif %}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary"
> Atras </a>

{% endblock %}