{% extends 'base.html' %} <!-- Aqui le estamos diciendo que es lo que tiene que hacer-->
{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}

<h1> {{ post.title }}</h1>
<small>Publicado por: 
        {{ post.author.first_name }} 
        {{ post.author.last_name }} 
        
        {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                        - <small><a href="{% url 'updatepost' post.pk %}">(Editar Post) </a>
                        - <a href="{% url 'deletepost' post.pk %}">(Borrar)</a></small> <br/>
                {% endif %}
                {{ post.post_date }}
        
        {% endif %}
<hr>
<br/>

{{ post.body }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary"
> Atras </a>

{% endblock %}
<!-- Todo lo que esta entre el "block content" y el "endblock" va a ser tomado y pegado en la pagina "base.html"-->