<html>
    <head>
        <Title>ONU Plan Quindenial</Title>
    </head>
        <p>Los Objetivos de Desarrollo Sostenible, también conocidos como Objetivos Mundiales, se adoptaron por todos los Estados Miembros en 2015 como 
            <br>un llamado universal para poner fin a la pobreza, proteger el planeta y garantizar que todas las personas gocen de paz y prosperidad para 2030.
        <br>
            Los 17 ODS están integrados, ya que reconocen que las intervenciones en un área afectarán los resultados de otras y que el desarrollo debe equilibrar
            <br> la sostenibilidad medio ambiental, económica y social.
        <br> 
            Siguiendo la promesa de no dejar a nadie atrás, los países se han comprometido a acelerar el progreso para aquellos más atrasados. Es por esto que los 
            <br>ODS han sido diseñados para traer al mundo varios “ceros” que cambien la vida, lo que incluye pobreza cero, hambre cero, 
            <br>SIDA cero y discriminación cero contra las mujeres y niñas.
        <br>
            Todo el mundo es necesario para alcanzar estos objetivos ambiciosos. Se necesita la creatividad, el conocimiento, la tecnología y los recursos 
        <br>financieros de toda la sociedad para conseguir los ODS en cada contexto.
    </p>

    <body>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/345IxGgjF9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Esta animación muestra cómo la ONU trabaja para pasar los Objetivos de Desarrollo Sostenible de la teoría 
            <br>a la práctica a través del enfoque MAPS (Integración, Aceleración y Apoyo de Políticas).
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dOvllZ8Q_zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <br>
        <p>
            para mas informacion click en la siguiente imagen
        </p>
        <p>
            <a href="17_objetiivos.html">
                <img src="img_link1.jpg" alt="pintura con link">
            </a>
        </p>
    </body>
</html>
