 {% extends 'base.html' %}
{% block title %} ONU Plan QUindenial  {% endblock %}
{% block content %}

<h1> Objetivos de Desarrollo Sostenible </h1>

    <p>Los Objetivos de Desarrollo Sostenible, también conocidos como Objetivos Mundiales, se adoptaron por todos los Estados Miembros en 2015 como 
        <br>un llamado universal para poner fin a la pobreza, proteger el planeta y garantizar que todas las personas gocen de paz y prosperidad para 2030.
    <br>
        Los 17 ODS están integrados, ya que reconocen que las intervenciones en un área afectarán los resultados de otras y que el desarrollo debe equilibrar
        <br> la sostenibilidad medio ambiental, económica y social.
    <br> 
        Siguiendo la promesa de no dejar a nadie atrás, los países se han comprometido a acelerar el progreso para aquellos más atrasados. Es por esto que los 
        <br>ODS han sido diseñados para traer al mundo varios “ceros” que cambien la vida, lo que incluye pobreza cero, hambre cero, 
        <br>SIDA cero y discriminación cero contra las mujeres y niñas.
    <br>
        Todo el mundo es necesario para alcanzar estos objetivos ambiciosos. Se necesita la creatividad, el conocimiento, la tecnología y los recursos 
    <br>financieros de toda la sociedad para conseguir los ODS en cada contexto.
    </p>
</br></br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/345IxGgjF9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br>        
    <p>
        Esta animación muestra cómo la ONU trabaja para pasar los Objetivos de Desarrollo Sostenible de la teoría 
        <br>a la práctica a través del enfoque MAPS (Integración, Aceleración y Apoyo de Políticas).
    </p>
</br></br>
    <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dOvllZ8Q_zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
</br></br>
    <p>
        <strong> Objetivo 1: fin de la pobreza </strong>
    </p><iframe width="560" height="315" src="https://www.youtube.com/embed/PQveU35dxIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br>    
    <br>
</br></br>
    <p>
        <strong>Objetivo 2: Hambre Cero</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/W_NUWV7qgk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 3: Salud y bienestar</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/GdySQGTtNL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 4: Educacion de Calidad</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Axrfh2cae7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 5: Igualdad De genero</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/FUbA0VTykRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 6: Agua Limpia y Saneamiento</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/6kke9YIohQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
</br></br></br>
    <strong>Objetivo 7: Energia Asequible y no Contaminante</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/3LLAvYbsT7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 8: Trabajo decente y Crecimiento Economico</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/UnVQRrxwkaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 9: Industria Innovacion e Infraestructura</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/2xparLO41zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 10: Reduccion de Las Desigualdades</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/ojI69FKxqdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 11: Ciudades y Comunidades Sostenibles</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Xp4LMbRV8_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 12: Produccion y Consumo Responsables</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Y2n7xFQWOjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 13: Accion por el Clima</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/8ea6N2NS-38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 14: Vida Submarina</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/GOSyml_q_Mk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 15: Vida de Ecosistemas Terrestres</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/1peW1UMNq1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 16: Paz Judticia e Instituciones Solidas</strong>
    </p>

    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Bgzem38EJYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br></br></br>
    <p>
    <strong>Objetivo 17: Alianzas Para Lograr los Objetivos</strong>
    </p>

    <br>
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7aWdmDxl75k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</br></br>
    <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary"
    > Atras </a>

{% endblock %}

