<html>
    <head>
        <Title>ONU Plan Quindenial</Title>
    </head>
        <p>Los Objetivos de Desarrollo Sostenible, también conocidos como Objetivos Mundiales, se adoptaron por todos los Estados Miembros en 2015 como 
            <br>un llamado universal para poner fin a la pobreza, proteger el planeta y garantizar que todas las personas gocen de paz y prosperidad para 2030.
        <br>
            Los 17 ODS están integrados, ya que reconocen que las intervenciones en un área afectarán los resultados de otras y que el desarrollo debe equilibrar
            <br> la sostenibilidad medio ambiental, económica y social.
        <br> 
            Siguiendo la promesa de no dejar a nadie atrás, los países se han comprometido a acelerar el progreso para aquellos más atrasados. Es por esto que los 
            <br>ODS han sido diseñados para traer al mundo varios “ceros” que cambien la vida, lo que incluye pobreza cero, hambre cero, 
            <br>SIDA cero y discriminación cero contra las mujeres y niñas.
        <br>
            Todo el mundo es necesario para alcanzar estos objetivos ambiciosos. Se necesita la creatividad, el conocimiento, la tecnología y los recursos 
        <br>financieros de toda la sociedad para conseguir los ODS en cada contexto.
    </p>

    <body>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/345IxGgjF9s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Esta animación muestra cómo la ONU trabaja para pasar los Objetivos de Desarrollo Sostenible de la teoría 
            <br>a la práctica a través del enfoque MAPS (Integración, Aceleración y Apoyo de Políticas).
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dOvllZ8Q_zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>
        <br>
        <p>
            Objetivo 1:fin de la pobreza
        </p><iframe width="560" height="315" src="https://www.youtube.com/embed/PQveU35dxIE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <p>
            Objetivo 2:Hambre Cero
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/W_NUWV7qgk0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 3:Salud y bienestar
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/GdySQGTtNL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 4:Educacion de Calidad
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Axrfh2cae7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 5:Igualdad De genero
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/FUbA0VTykRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 6:Agua Limpia y Saneamiento
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/6kke9YIohQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 7:Energia Asequible y no Contaminante
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/3LLAvYbsT7Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 8:Trabajo decente y Crecimiento Economico
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/UnVQRrxwkaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 9:Industria Innovacion e Infraestructura
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/2xparLO41zQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 10:Reduccion de Las Desicualdades
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/ojI69FKxqdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 11:Ciudades y Comunidades Sostenibles
        </p>
       
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Xp4LMbRV8_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 12:Produccion y Consumo Responsables
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Y2n7xFQWOjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 13:Accion por el Clima
        </p>
       <br><iframe width="560" height="315" src="https://www.youtube.com/embed/8ea6N2NS-38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 14:Vida Submarina
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/GOSyml_q_Mk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 15:Vida de Ecosistemas Terrestres
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/1peW1UMNq1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 16:Paz Judticia e Instituciones Solidas
        </p>
        <br><iframe width="560" height="315" src="https://www.youtube.com/embed/Bgzem38EJYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Objetivo 17:Alianzas Para Lograr los Objetivos
        </p>
        <br>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/7aWdmDxl75k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    </body>
</html>
