<html>
    <head>
        <Title>Complete los siguientes datos</Title>
    </head>
        <br>
        <p>Cree un nombre de usuario</p>
         <input type="text" name="userName">
        <br>
        <p>Ingrese un e-mail de referencia</p>
         <input type="email" email="email">
        <br>
        <p>Cree una contraseña</p>
         <input type="password" pass="pass">
        <p>su contraseña puede cambiarse desde su correo electronico</p>
    <br>
      <input type="submit" value=" Crear Cuenta"> 
</html>