{% extends 'base.html' %}
{% block title %} Edit Blog Area {% endblock %}
{% block content %}


{% if user.is_authenticated %}
    {% if user.id == post.author.id %}    
        <h1> Modifica your post </h1>

        <br/><br/>
        <div class="form-group"></div>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-dark"> Modificar </button>
        </form>
        </div>
    {% else %}

        No tienes los permisos para estar aqui.

    {% endif %}
    
{% else %}

No tienes los permisos para estar aqui.

{% endif %}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary"
> Atras </a>

{% endblock %}