{% extends 'base.html' %}
{% block title %} Edita tu perfil {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <h1> Edita tu perfil </h1>
        </br></br>

         {{ user.profile.bio }}

        <br/><br/>
        <div class="form-group"></div>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-dark"> Actualizar </button>
        </form>
        </div>
    {% else %}

        No tienes los permisos para estar aqui.

    {% endif %}


{% endblock %}